* {
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.btn {
  padding: 5px;
  cursor: pointer;
}


.bgRed {
  background-color: red;
}

.bgBlue {
  background-color: lightskyblue;
}

.bgGreen {
  background-color: greenyellow;
}

.bgGray {
  background-color: lightgray;
}

.bgWhite {
  background-color: white;
}

.txtWhite {
  color: white;
}

.txtBlack {
  color: black;
}

.animate__animated {
  --animate-duration: 0.5s;
}

input[type="text"] {
  border: none;
}