* {
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.btn {
  padding: 5px;
  cursor: pointer;
}